<div class="container vh-100 w-100 d-flex justify-content-center align-items-center">

    <form class="row g-3 border rounded-4 p-4" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div>
            <h1 class="text-center">Register</h1>
        </div>
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="inputName4">
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"
                class="text-danger">
                <small *ngIf="registerForm.get('name')?.errors?.['required']">Password is required.</small>
                <small *ngIf="registerForm.get('name')?.errors?.['minlength']">Minimum 3 character.</small>
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">Role</label>
            <select id="inputState" class="form-select" formControlName="role">
                <option selected value="">Choose...</option>
                <option value="Employee">Employee</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="inputDepartment4" class="form-label">Department</label>
            <input type="text" class="form-control" formControlName="department" id="inputDepartment4">
            <div class="text-danger"
                *ngIf="registerForm.get('department')?.invalid && (registerForm.get('department')?.dirty || registerForm.get('department')?.touched)">
                <small *ngIf="registerForm.get('department')?.errors?.['required']">Department is required.</small>
            </div>


        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" id="inputEmail4">
            <div *ngIf=" registerForm.get('email')?.invalid && ( registerForm.get('email')?.dirty ||  registerForm.get('email')?.touched)"
                class="text-danger">
                <small *ngIf=" registerForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf=" registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="inputPassword4">

            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                class="text-danger">
                <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
                <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 6 character.</small>
            </div>
        </div>



        <div class="col-12 text-center">
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Sign up</button>
        </div>
        <div class="col-12 text-center">
            <a [routerLink]="['/auth/login']">Already have an account? Login here</a>
        </div>
    </form>
</div>