
<div class="container vh-100 w-100 d-flex justify-content-center align-items-center">

    <form class="form g-3 border rounded-4 gap-2" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <h3 class="text-center">Create Account</h3>
        <div class="flex-column">
            <label>Name </label>
        </div>
        <div class="inputForm">
            <i class="fa-solid fa-user-tie"></i>
            <input type="text" formControlName="name" class="input" placeholder="Enter Your Name" />
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"
                class="text-danger me-1">
                <small *ngIf="registerForm.get('name')?.errors?.['required']">Required.</small>
                <small *ngIf="registerForm.get('name')?.errors?.['minlength']">Minimum 3 Characters.</small>
                <small *ngIf="registerForm.get('name')?.errors?.['maxlength']">Maximum 25 Characters.</small>
            </div>
        </div>
        <div class="flex-column">
            <label>Department </label>
        </div>
        <div class="inputForm">
            <i class="fa-solid fa-id-card"></i>
            <input type="text" formControlName="department" class="input" placeholder="Enter Your Department" />
            <div class="text-danger me-1"
                *ngIf="registerForm.get('department')?.invalid && (registerForm.get('department')?.dirty || registerForm.get('department')?.touched)">
                <small *ngIf="registerForm.get('department')?.errors?.['required']">Required.</small>
                <small *ngIf="registerForm.get('department')?.errors?.['maxlength']">Maximum 25 Characters.</small>
            </div>
        </div>
        <div class="flex-column">
            <label>Role </label>
        </div>
        <div class="inputForm">
            <i class="fa-solid fa-id-badge"></i>
            <select class="input" name="role" formControlName="role">
                <option value="" selected>Choose...</option>
                <option value="Employee">Employee</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched)"
                class="text-danger me-1">
                <small *ngIf="registerForm.get('role')?.errors?.['required']">Required.</small>
            </div>
        </div>
        <div class="flex-column">
            <label>Email </label>
        </div>
        <div class="inputForm">
            <i class="fa-solid fa-at"></i>
            <input type="text" formControlName="email" class="input" placeholder="Enter Your Email" />
            <div *ngIf=" registerForm.get('email')?.invalid && ( registerForm.get('email')?.dirty ||  registerForm.get('email')?.touched)"
                class="text-danger me-1">
                <small *ngIf=" registerForm.get('email')?.errors?.['required']">Required.</small>
                <small *ngIf=" registerForm.get('email')?.errors?.['email']">Invalid Email.</small>
            </div>
        </div>

        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <i class="fa-solid fa-lock"></i>
            <input type="password" formControlName="password" class="input" placeholder="Enter Your Password" />
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                class="text-danger me-1">
                <small *ngIf="registerForm.get('password')?.errors?.['required']">Required.</small>
                <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 6 Characters.</small>
                <small *ngIf="registerForm.get('password')?.errors?.['maxlength']">Maximum 16 Characters.</small>
            </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success">Sign up</button>

        <div class="col-12 text-center">
            Already have an account? <span><a [routerLink]="['/auth/login']">login here</a></span>
        </div>

    </form>
</div>