<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" >EMP-CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                    <a class="border rounded-3 nav-link dropdown-toggle"  role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{employeeData?.name}}
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit
                                profile</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex align-items-center ">
            </div>
            <div class="d-flex align-items-center">

                <button class="btn btn-danger" (click)="logout()">
                    Logout <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row" >
        <div class="col-md-3">
            <div class="d-flex justify-content-evenly">
                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#filterOptions" aria-expanded="false" aria-controls="filterOptions">
                    <i class="fa-solid fa-filter"></i> Filter
                </button>
                <button *ngIf="employeeData?.role==='Admin'" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#addEmployeeModal"><i class="fa-solid fa-circle-plus"></i> Employee</button>
            </div>
            <div class="collapse" id="filterOptions">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputName6" class="col-form-label">Search </label>
                        <input class="form-control me-2" name="search" (input)="onSearch($event)" type="search"
                            placeholder="Search name or department" aria-label="Search">
                    </div>
                    <div class="col-auto">
                        <label for="inputRole6" class="col-form-label">Role</label>
                        <select name="role" (change)="onChangeFilter($event)" id="inputRole6" class="form-select">
                            <option value="">All roles</option>
                            <option value="Employee">Employee</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="inputLimit6" class="col-form-label">Limit</label>
                        <select name="limit" (change)="onChangeFilter($event)" id="inputLimit6" class="form-select">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="">All</option>
                        </select>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Role</th>
                        <th scope="col">Email</th>
                        <th scope="col" *ngIf="employeeData?.role==='Admin'">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeList; let i = index">
                        <th>{{i + 1}}</th>
                        <td>{{employee.name}}</td>
                        <td>{{employee.department}}</td>
                        <td>{{employee.role}}</td>
                        <td>{{employee.email}}</td>
                        <td *ngIf="employeeData?.role==='Admin'" >
                            <div class="d-flex justify-content-evenly">
                                <button class="btn text-danger" (click)="deleteEmployee(employee)">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
           <div>
            <nav>
                <ul class="pagination justify-content-center">
                    <!-- Previous Button -->
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage - 1)"><i class="fa-solid fa-backward"></i></a>
                    </li>
            
                    <!-- Page Numbers -->
                    <li *ngFor="let page of totalPagesArray" class="page-item" [class.active]="currentPage === page">
                        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                    </li>
            
                    <!-- Next Button -->
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="changePage(currentPage + 1)"><i class="fa-solid fa-forward"></i></a>
                    </li>
                </ul>
            </nav>
           </div>
        
        </div>
    </div>
  
</div>



<app-add-employee (getEmployeeList)="getEmployeeList()"></app-add-employee>


<app-edit-profile (getEmployeeData)="getLoggedEmployee()"></app-edit-profile>