<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <a class="text-white text-xl font-bold">EMP-CRUD</a>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div>
                        <button (click)="toggleDropdown()"
                            class="relative flex rounded-full bg-gray-800 text-sm text-white">{{
                            loggedEmployeeData?.name }}
                        </button>
                    </div>

                    <!-- Dropdown -->
                    <div *ngIf="isDropdownOpen"
                        class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5"
                        (clickOutside)="closeDropdown()">
                        <a class="block px-4 py-2 text-sm text-gray-700">Edit Profile</a>
                        <!-- <a href="#" class="block px-4 py-2 text-sm text-gray-700">Settings</a> -->
                        <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700">Logout
                            <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>





<div class="container mx-auto mt-6 flex flex-col md:flex-row gap-6">
    <div class="w-full md:w-1/4">
        <div class="text-center border rounded-lg p-4 shadow-md">
            <div class="text-2xl"><i class="fa-solid fa-user"></i></div>
            <h5 class="font-bold">{{ loggedEmployeeData?.name }}</h5>
            <p class="text-gray-500">{{ loggedEmployeeData?.email }}</p>
            <p class="text-gray-500">{{ loggedEmployeeData?.department }}</p>
        </div>

        <div class="flex justify-around mt-4">
            <button *ngIf="loggedEmployeeData?.role==='Admin'" class="px-4 py-2 bg-blue-500 text-white rounded"
                (click)="openAddEmployeeModal()">
                <i class="fa-solid fa-circle-plus"></i> Employee
            </button>
        </div>

        <div id="filterOptions" class="mt-4">
            <label class="block text-gray-700">Search</label>
            <input class="w-full p-2 border rounded" name="search" type="search" placeholder="Search name or department"
                (input)="onChangeFilter($event)">


            <label class="block text-gray-700 mt-2">Sort By</label>
            <select class="w-full p-2 border rounded" name="sortBy" (change)="onChangeFilter($event)">
                <option value="name">Name</option>
                <option value="department">Department</option>
            </select>


            <div class="mt-2 flex justify-between">
                <label class="flex items-center">
                    <input type="radio" name="sortOrder" [checked]="queryParameters.sortOrder === 'asc'"
                        (change)="onChangeFilter($event)" value="asc" class="mr-2">
                    A - Z
                </label>
                <label class="flex items-center">
                    <input type="radio" name="sortOrder" [checked]="queryParameters.sortOrder === 'desc'"
                        (change)="onChangeFilter($event)" value="desc" class="mr-2">
                    Z - A
                </label>
            </div>


            <label class="block text-gray-700 mt-2">Role</label>
            <select class="w-full p-2 border rounded" name="role" (change)="onChangeFilter($event)">
                <option value="">All roles</option>
                <option value="Employee">Employee</option>
                <option value="Admin">Admin</option>
            </select>

            <label class="block text-gray-700 mt-2">Limit</label>
            <select class="w-full p-2 border rounded" name="limit" (change)="onChangeLimit($event)">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
                <option [value]="">All</option>
            </select>
        </div>
    </div>

    <!-- Main Content -->
    <div class="w-full md:w-3/4">
        <div class="overflow-x-auto">
            <table class="w-full border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="p-2">#</th>
                        <th class="p-2">Name</th>
                        <th class="p-2">Department</th>
                        <th class="p-2">Role</th>
                        <th class="p-2">Email</th>
                        <th *ngIf="loggedEmployeeData?.role==='Admin'" class="p-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeList; let i = index" class="border-b">
                        <td class="p-2">{{i + 1}}</td>
                        <td class="p-2">{{employee.name}}</td>
                        <td class="p-2">{{employee.department}}</td>
                        <td class="p-2">{{employee.role}}</td>
                        <td class="p-2">{{employee.email}}</td>
                        <td *ngIf="loggedEmployeeData?.role==='Admin'" class="p-2 text-center">
                            <button class="text-red-600" (click)="deleteEmployee(employee)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p *ngIf="employeeList.length === 0" class="text-center text-gray-500">No employees found.</p>
        <ng-container *ngIf="employeeList.length !== 0">
            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [totalPagesArray]="totalPagesArray"
                [queryParameters]="queryParameters" (getEmployeeList)="getEmployeeList()"></app-pagination>
        </ng-container>
    </div>
</div>




<app-add-employee (getEmployeeList)="getEmployeeList()"></app-add-employee>

<ng-container *ngIf="loggedEmployeeData">
    <app-edit-profile [employeeData]="loggedEmployeeData"
        (getEmployeeData)="getLoggedEmployeeData()"></app-edit-profile>
</ng-container>