<nav >
    <ul class="pagination justify-content-center">
        <!-- Previous Button -->
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)"><i class="fa-solid fa-backward"></i></a>
        </li>

        <!-- First Page -->
        <li *ngIf="currentPage > 2" class="page-item">
            <a class="page-link" (click)="changePage(1)">1</a>
        </li>

        <li *ngIf="currentPage > 3" class="page-item disabled">
            <span class="page-link">...</span>
        </li>

        <!-- Page Numbers -->
        <li *ngFor="let page of getVisiblePages()" class="page-item"
            [class.active]="currentPage === page">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>

        <li *ngIf="currentPage < totalPages - 2" class="page-item disabled">
            <span class="page-link">...</span>
        </li>

        <!-- Last Page -->
        <li *ngIf="currentPage < totalPages - 1" class="page-item">
            <a class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</a>
        </li>

        <!-- Next Button -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)"><i class="fa-solid fa-forward"></i></a>
        </li>

    </ul>
</nav>